{% load static  %}
{% comment %} avsindustries 246.avs.avs {% endcomment %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>AVS</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static './css/index.css' %}">
    </head>

    <body>

        <script>
            (function () {
                if (typeof _bsa !== 'undefined' && _bsa) {
                    // format, zoneKey, segment:value, options
                    _bsa.init('flexbar','CKYI627U','placement:cyberayoutscom');
                }
            })();
        </script>
        <script>
            (function () {
                if (typeof _bsa !== 'undefined' && _bsa) {
                    // format, zoneKey, segment:value, options
                    _bsa.init('fancybar','CKYDL2JN','placement:demo');
                }
            })();
        </script>
        <script>
            (function () {
                if (typeof _bsa !== 'undefined' && _bsa) {
                    // format, zoneKey, segment:value, options
                    _bsa.init('stickybox','CKYI653J','placement:cyberayoutscom');
                }
            })();
        </script>


        <meta name="robots" content="noindex">

        <body>
            <!-- Demo bar start -->
            <!-- New toolbar-->
            <style>
                * {
                    box-sizing: border-box;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
                }


                #cyberDemoBar.cyber-demo-bar {
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 9999;
                    padding: 40px 5px;
                    padding-top: 70px;
                    margin-bottom: 70px;
                    background: #0D1326;
                    border-top-left-radius: 9px;
                    border-bottom-left-radius: 9px;
                }

                #cyberDemoBar.cyber-demo-bar a {
                    display: block;
                    color: #e6ebff;
                    text-decoration: none;
                    line-height: 24px;
                    opacity: .6;
                    margin-bottom: 20px;
                    text-align: center;
                }

                #cyberDemoBar.cyber-demo-bar span.cyber-icon {
                    display: block;
                }

                #cyberDemoBar.cyber-demo-bar a:hover {
                    opacity: 1;
                }

                #cyberDemoBar.cyber-demo-bar .cyber-icon svg {
                    color: #e6ebff;
                }

                #cyberDemoBar.cyber-demo-bar .responsive-icons {
                    margin-top: 30px;
                    border-top: 1px solid #41414d;
                    padding-top: 40px;
                }

                #cyberDemoBar.cyber-demo-bar .demo-btns {
                    border-top: 1px solid #41414d;
                    padding-top: 30px;
                }

                #cyberDemoBar.cyber-demo-bar .responsive-icons a span.fa {
                    font-size: 26px;
                }

                #cyberDemoBar.cyber-demo-bar .no-margin-bottom {
                    margin-bottom: 0;
                }

                .toggle-right-sidebar span {
                    background: #0D1326;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    color: #e6ebff;
                    border-radius: 50px;
                    font-size: 26px;
                    cursor: pointer;
                    opacity: .5;
                }

                .pull-right {
                    float: right;
                    position: fixed;
                    right: 0px;
                    top: 70px;
                    width: 90px;
                    z-index: 99999;
                    text-align: center;
                }

                /* ============================================================
RIGHT SIDEBAR SECTION
============================================================ */

                #right-sidebar {
                    width: 90px;
                    position: fixed;
                    height: 100%;
                    z-index: 1000;
                    right: 0px;
                    top: 0;
                    margin-top: 60px;
                    -webkit-transition: all .5s ease-in-out;
                    -moz-transition: all .5s ease-in-out;
                    -o-transition: all .5s ease-in-out;
                    transition: all .5s ease-in-out;
                    overflow-y: auto;
                }

                /* ============================================================
RIGHT SIDEBAR TOGGLE SECTION
============================================================ */

                .hide-right-bar-notifications {
                    margin-right: -300px !important;
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                }



                @media (max-width: 992px) {
                    #cyberDemoBar.cyber-demo-bar a.desktop-mode {
                        display: none;

                    }
                }

                @media (max-width: 767px) {
                    #cyberDemoBar.cyber-demo-bar a.tablet-mode {
                        display: none;

                    }
                }

                @media (max-width: 568px) {
                    #cyberDemoBar.cyber-demo-bar a.mobile-mode {
                        display: none;
                    }

                    #cyberDemoBar.cyber-demo-bar .responsive-icons {
                        margin-top: 0px;
                        border-top: none;
                        padding-top: 0px;
                    }

                    #right-sidebar,
                    .pull-right {
                        width: 90px;
                    }

                    #cyberDemoBar.cyber-demo-bar .no-margin-bottom-mobile {
                        margin-bottom: 0;
                    }
                }

            </style>



            <!-- Top Menu 1 -->
            <section class="cyber-top-menu-1 p-sticky-md">
                <div class="top-hd">
                    <div class="wrapper">
                        <header class="d-grid grid-columns-2">


                            <div class="accounts">
                                <li class="top_li"><span class="fa fa-mobile"></span><a
                                        href="tel:+142 5897555">+917067387730</a> </li>
                                <li class="top_li1"><span class="fa fa-map-marker"></span> Birla Nagar Gwalior </li>
                                <li class="top_li2"><span class="fa fa-clock-o"></span> Mon - Sat 6:00 - 18:00 / Closed
                                    on Weekends</li>
                            </div>
                        </header>
                    </div>
                </div>
            </section>
            <!-- //Top Menu 1 -->
            <!-- Headers-4 block -->
            <section class="cyber-header-4">
                <header id="headers4-block">
                    <div class="wrapper">
                        <div class="d-grid nav-mobile-block header-align">
                            <div class="logo">
                                <a class="brand-logo" href="#"><span class="fa fa-industry"></span> AVS </a>
                          
                            </div>
                            <input type="checkbox" id="nav" />
                            <label class="nav" for="nav"></label>
                            <nav>
                                <label for="drop" class="toggle">Menu</label>
                                <input type="checkbox" id="drop">
                                <ul class="menu">
                                    <li><a href="#" style="color: #004e7c;">Home</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/products">Products</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </nav>
                            <div class="button">
                                <a class="actionbg" title="login now" href="#">Login</a>
                            </div>
                        </div>
                    </div>
                </header>
            </section>
            <!-- Headers-4 block -->
            <!-- Heroheader14 block -->
            <section class="cyber-hero-headers-14">
                <div class="hh14-block">

                    <section id="hh14-content">
                        <div class="wrapper">

                            <div>
                                <!-- main-slider -->
                                <div class="main-slider">
                                    <div class="csslider infinity" id="slider1">
                                        <input type="radio" name="slides" checked="checked" id="slides_1" />
                                        <input type="radio" name="slides" id="slides_2" />
                                        <input type="radio" name="slides" id="slides_3" />
                                        <input type="radio" name="slides" id="slides_4" />

                                        <ul>
                                            <li>
                                                <div class="slider-info">
                                                    <div class="d-grid hh14-text">
                                                        <div class="hh14-info">
                                                            <h6>BUILDING UP VISION LEADING FUTURE</h6>
                                                            <h3>Advanced Industrial & Manufacturing </h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmod tempor incididunt ut labore et dolore
                                                                magna aliqua. Ut enim ad minim.</p>

                                                        </div>

                                                    </div>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="slider-info">
                                                    <div class="d-grid hh14-text">
                                                        <div class="hh14-info">
                                                            <h6>BUILDING UP VISION LEADING FUTURE</h6>
                                                            <h3>We are industry Factory Solutions </h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmod tempor incididunt ut labore et dolore
                                                                magna aliqua. Ut enim ad minim.</p>

                                                        </div>

                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="slider-info">
                                                    <div class="d-grid hh14-text">
                                                        <div class="hh14-info">
                                                            <h6>BUILDING UP VISION LEADING FUTURE</h6>
                                                            <h3>We Provide Best Industrial Services</h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmod tempor incididunt ut labore et dolore
                                                                magna aliqua. Ut enim ad minim.</p>

                                                        </div>

                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="slider-info">
                                                    <div class="d-grid hh14-text">
                                                        <div class="hh14-info">
                                                            <h6>BUILDING UP VISION LEADING FUTURE</h6>
                                                            <h3>Great Technology Best Services</h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmod tempor incididunt ut labore et dolore
                                                                magna aliqua. Ut enim ad minim.</p>

                                                        </div>

                                                    </div>
                                                </div>
                                            </li>

                                        </ul>

                                        <div class="navigation">
                                            <div>
                                                <label for="slides_1"></label>
                                                <label for="slides_2"></label>
                                                <label for="slides_3"></label>
                                                <label for="slides_4"></label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /main-slider -->
                            </div>

                        </div>

                    </section>
                </div>
            </section>
            <br><br><br>
            <!-- Heroheader14 block -->
            <!-- specifications -->
            <section class="cyber-specifications-9">
                <div class="main-cyb">
                    <div class="wrapper">
                        <div class="d-flex flex-wrap main-cont-wthree-fea">
                            <div class="grids-speci">
                                <div class="speci-inner">
                                    <div class="sp-lft">
                                        <span class="fa fa-handshake-o"></span>
                                    </div>
                                    <div class="sp-rgt">
                                        <h3 class="title-spe">800+</h3>
                                        <h4>
                                            <bold>indestructible</bold>
                                            highly demanded products
                                        </h4>
                                    </div>
                                </div>

                            </div>
                            <div class="grids-speci midd-eff-spe">
                                <div class="speci-inner">
                                    <div class="sp-lft">
                                        <span class="fa fa-users"></span>
                                    </div>
                                    <div class="sp-rgt">
                                        <h3 class="title-spe">400+</h3>
                                        <h4>
                                            <bold>Highly </bold> specialised
                                            employees
                                        </h4>
                                    </div>
                                </div>

                            </div>
                            <div class="grids-speci midd-eff-las">
                                <div class="speci-inner">
                                    <div class="sp-lft">
                                        <span class="fa fa-globe"></span>
                                    </div>
                                    <div class="sp-rgt">
                                        <h3 class="title-spe">15+</h3>
                                        <h4>
                                            <bold>Cities </bold>
                                            around the countries
                                        </h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br><br><br>
            <!-- features -->
            <section class="cyber-feature-9">
                <div class="main-cyb">
                    <div class="wrapper">
                        <div class="main-cont-wthree-fea">
                            <div class="grids-feature">
                                <span class="fa fa-plug"></span>
                                <h4><a href="#" class="title-head">Plastics Manufacturing</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                </p>
                            </div>
                            <div class="grids-feature">
                                <span class="fa fa-cogs"></span>
                                <h4><a href="#" class="title-head">Highly engineered</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                </p>
                            </div>
                            <div class="grids-feature">
                                <span class="fa fa-legal"></span>
                                <h4><a href="#" class="title-head">Industrial accuracy</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                </p>
                            </div>
                            <div class="grids-feature">
                                <span class="fa fa-tint"></span>
                                <h4><a href="#feature" class="title-head">Customer Service</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br><br><br>
            <!-- //features -->
            <!-- covers -->
            <section class="cyber-covers-9-main">
                <div class="covers-9">
                    <div class="wrapper">
                        <div class="cover-top-center-9">
                            <div class="cybers_cover_txt-9">
                                <h6 style="color:#B73225;" class="tag-cover-9">WE DO</h6>
                                <h3 style="color: #ebee2c;" class="title-cover-9">Plastics</h3>
                                <b>
                                    <p style="color: rgb(0, 0, 0);" class="para-cover-9">Lorem ipsum dolor sit amet,
                                        consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et
                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                    <a href="product" class="actionbg btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br>
            <!-- //covers -->
            <!-- content-with-photo4 block -->
            <section class="cyber-content-with-photo-4">
                <div id="content-with-photo4-block">
                    <div class="wrapper">
                        <div class="cwp4-two">
                            <div class="cwp4-text">
                                <h4>Maintenance and repairs of best machinaries.</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                    Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                                </p>
                                <ul class="cont-4">
                                    <li><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> Dolor sit
                                        amet, consectetu</li>
                                    <li><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> Sed do eiusmod
                                        tempor incididunt ut labore </li>
                                    <li><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> Ut enim ad
                                        minim veniam, quis nostrud.</li>
                                    <li><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> Sed do eiusmod
                                        tempor incididunt ut labore </li>
                                </ul>
                            </div>
                            <div class="cwp4-image">
                                <img src="./assests/images/worker.jpg" width="90%" class="img-responsive" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- content-with-photo4 block -->
            <section class="cyber-features-6">
                <!-- /features -->
                <div class="features">
                    <div class="wrapper">
                        <div class="fea-gd-vv">
                            <div class="float-lt feature-gd">
                                <div class="icon"> <span class="fa fa-clipboard" aria-hidden="true"></span></div>
                                <div class="icon-info">
                                    <h3>Full Service</h3>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud. </p>
                                </div>

                            </div>
                            <div class="float-mid feature-gd">
                                <div class="icon"> <span class="fa fa-wrench" aria-hidden="true"></span></div>
                                <div class="icon-info">
                                    <h3>Maintenance</h3>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud. </p>
                                </div>
                            </div>
                            <div class="float-rt feature-gd">
                                <div class="icon"> <span class="fa fa-truck" aria-hidden="true"></span></div>
                                <div class="icon-info">
                                    <h3>Delivery</h3>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //features -->
            </section>

            <!--customers-7-->
            <section class="cyber-customers-7">
                <div class="customers_sur">
                    <div class="wrapper">
                        <h3>Testimonials</h3>
                        <div class="customers-top_sur">


                            <div class="customers-middle_sur">
                                <div class="customers_grid">
                                    <p class="sub-test">Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam, quis nostrud</p>
                                    <div class="customers-bottom_sur">
                                        <div class="custo-img-res">
                                            <img src="{% static './images/m2.jpg' %}" width="50px" height="50px" alt=" "
                                                class="img-responsive">
                                        </div>
                                        <div class="custo_grid">
                                            <h5>Henry Nicholas</h5>
                                            <span>CEO</span>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>


                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!--//customers-7-->
            <br>
            <h3 style="text-align: center; text-decoration: underline; color:#003b5e; font-weight: 700; ">Our Clients
            </h3>
            <br><br>
            <div class="row w-75  mx-auto align-content-between justify-content-between flex-wrap">
            {% for i in clients%}
            <div class="col-lg-3 col-md-6 mx-auto col-12 my-3 flex-wrap">
                    <a href="#" target="_blank" rel="noopener">
                        <img alt={{i.client_name}} src={{i.client_image.url}} my-3 mx-auto width="150px" height="70px"
                            alt="Open source fully loaded CMS in #2019">
                    </a>
                </div>
            {% endfor %}
                <div class="col-lg-3 col-md-6 col-12 mx-auto my-3 flex-wrap">
                    <a href="https://www.onecompare.com/apple" target="_blank" rel="noopener">
                        <img src="https://i.postimg.cc/vT9dwrvF/logo-temp.png" my-3 mx-auto width="150px"
                            alt="Compare the cheapest Apple deals">
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 mx-auto col-12 my-3 flex-wrap">
                    <a href="https://www.vpsserver.com/" target="_blank" rel="noopener">
                        <img src="https://i.postimg.cc/VLsgFL7S/logo.png" my-3 mx-auto width="150px" alt="VPS Server">
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 mx-auto col-12 my-3 flex-wrap">
                    <a href="https://www.intlum.com/" alt="Intlum" target="_blank" rel="noopener">
                        <img src="https://i.postimg.cc/qvNNYx32/intlum.png" my-3mx-auto width="150px" alt="Intlum">
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 mx-auto col-12 my-3 flex-wrap">
                    <a href="https://sumatosoft.com/services/ruby-on-rails-development" alt="SUMATOSOFT" target="_blank"
                        rel="noopener">
                        <img src="https://i.postimg.cc/ZYwqSqPb/5130672.png" my-3 mx-auto width="150px"
                            alt="SUMATOSOFT">
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mx-auto my-3 flex-wrap">
                    <a href="https://kredittkrt.no/" alt="kredittkort" target="_blank" rel="noopener">
                        <img src="https://kredittkrt.no/wp-content/uploads/2016/02/kredittkrt-logo.png" my-3 mx-auto
                            width="150px" alt="kredittkort">
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mx-auto my-3 flex-wrap">
                    <a href="https://netqualified.com/" alt="Notification widget for website engagement and conversion"
                        target="_blank" rel="noopener">
                        <img src="https://netqualified.com/uploads/logo/008c4b17d2f7dffb207c95d34ab72eac.png"
                            my-3mx-auto width="150px" alt="Notification widget for website engagement and conversion">
                    </a>
                </div>
              

            </div>
            <br><br>
            <section class="cyber-features-9">
                <div class="cyber-wrapper">
                    <h3 style="text-align: center; text-decoration: underline; color:#003b5e; font-weight: 700; ">Our
                        Franchise </h3>
                    <div class="carousel owl-carousel">
                        <div class="card ">
                            <img src="https://source.unsplash.com/250x200/?logo" alt="Avatar"
                                style="width:250px;height:200px;">
                        </div>
                        <div class="card ">
                            <img src="https://source.unsplash.com/250x200/?logo,company" alt="Avatar"
                                style="width:250px;height:200px;">
                        </div>
                        <div class="card ">
                            <img src="https://source.unsplash.com/250x200/?brands" alt="Avatar"
                                style="width:250px;height:200px;">
                        </div>
                        <div class="card ">
                            <img src="https://source.unsplash.com/250x200/?logo" alt="Avatar"
                                style="width:250px;height:200px;">
                        </div>
                        <div class="card">
                            <img src="https://source.unsplash.com/250x200/?brands" alt="Avatar"
                                style="width:250px;height:200px;">
                        </div>
                        <div class="card">
                            <img src="https://source.unsplash.com/250x200/?company" alt="Avatar"
                                style="width:250px;height:200px;">
                        </div>
                        <div class="card ">
                            <img src="https://source.unsplash.com/250x200/?brands" alt="Avatar"
                                style="width:250px;height:200px;">
                        </div>
                        <div class="card card-8">
                            <img src="https://source.unsplash.com/250x200/?company" alt="Avatar"
                                style="width:250px;height:200px;">
                        </div>
                    </div>
                </div>
            </section>
            <br><br><br>
            <section class="cyber-feature-3">
                <div class="grid top-bottom">
                    <div class="wrapper">
                        <div class="middle-section grid-column text-center">
                            <div class="three-grids-columns">
                                <span class="fa fa-map-marker"></span>
                                <h4>Our offices</h4>
                                <p>User interface design includes selecting and arranging interface elements </p>
                                <a href="contact" class="actionbg">Nearest Office </a>
                            </div>
                            <div class="three-grids-columns">
                                <span class="fa fa-envelope-o"></span>
                                <h4>Drop us a line</h4>
                                <p>Page layout is where these components come together, while wireframing</p>
                                <a href="contact" class="actionbg">Fill Our Form </a>
                            </div>
                            <div class="three-grids-columns">
                                <span class="fa fa-life-ring"></span>
                                <h4>Open a Ticket</h4>
                                <p>For complex projects, wireframes using computer software is popular</p>
                                <a href="login" class="actionbg">Login </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- footer-29 block -->
            <section class="cyber-footer-29-main">
                <div class="footer-29">
                    <div class="fot-top">
                        <div class="wrapper">
                            <div class="d-grid bottom-source">
                                <div class="grid-2-footer">
                                    <a class="foot-logo" href="#"><span class="fa fa-industry"></span>
                                        AVS
                                    </a>
                                </div>
                                <div class="grid-1-footer">
                                    <a href="/contact" class="actionbg1 btn">Contact Form <span
                                            class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="d-grid grid-col-4 footer-top-29">
                            <div class="footer-list-29">
                                <h6 class="footer-title-29">Company</h6>
                                <ul>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/products">Products</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                            <div class="footer-list-29">
                                <ul>
                                    <h6 class="footer-title-29">Credentials</h6>
                                    <li style="font-weight: 400;">Credential 1</li>
                                    <li style="font-weight: 400;">Credential 2</li>
                                    <li style="font-weight: 400;">Credential 3</li>
                                    <li style="font-weight: 400;">Credential 4</li>
                                    <li style="font-weight: 400;">Credential 5</li>
                                </ul>
                            </div>
                            <div class="footer-list-29">
                                <ul>
                                    <h6 class="footer-title-29">Industries</h6>
                                    <li style="font-weight: 400;">Plastics</li>
                                    <li style="font-weight: 400;">Gift & Apparel</li>
                                    <li style="font-weight: 400;">Auto Parts</li>
                                    <li style="font-weight: 400;">Power Systems</li>
                                    <li style="font-weight: 400;">Lorem ipsum</li>
                                </ul>
                            </div>
                            <div class="footer-list-29">
                                <h6 class="footer-title-29">Contact Info</h6>
                                <div class="cont-details-main">
                                    <div class="cont-top1">
                                        <div class="cont-left1">
                                            <span class="fa fa-mobile"></span>
                                        </div>
                                        <div class="cont-right1">
                                            <h6><a href="tel:+918224024277">+91 8224024277</a></h6>
                                            <p>Lorem ipsum dolor sit amet,</p>
                                        </div>
                                    </div>
                                    <div class="cont-top1">
                                        <div class="cont-left1">
                                            <span class="fa fa-clock-o"></span>
                                        </div>
                                        <div class="cont-right1">
                                            <h6>Working time</h6>
                                            <p>Mon - Fri: 9:00 - 19:00 / Closed on Weekends</p>
                                        </div>
                                    </div>
                                    <div class="cont-top1">
                                        <div class="cont-left1">
                                            <span class="fa fa-map-marker"></span>
                                        </div>
                                        <div class="cont-right1">
                                            <h6>Company Headquarters</h6>
                                            <p>Birla Nagar</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_copy">
                    <div class="wrapper">
                        <div class="d-grid grid-col-2 midd-footer-29">
                            <div class="main-social-footer-29">
                                <a href="#"><span class="fa fa-facebook"></span></a>
                                <a href="#"><span class="fa fa-twitter"></span></a>
                                <a href="#"><span class="fa fa-instagram"></span></a>
                                <a href="#"><span class="fa fa-dribbble"></span></a>
                                <a href="#"><span class="fa fa-linkedin"></span></a>
                            </div>
                            <ul class="list-btm-29">
                                <li><a href="#link">Privacy policy</a></li>
                                <li><a href="#link">Term of service</a></li>

                            </ul>
                        </div>
                        <div class="d-grid grid-col-2 bottom-copies">
                            <p class="copy-footer-29">© 2019 AVS. All rights reserved.</p>
                            <p class="sub-paragraph right-side-con">Design By <a
                                    href="http://cybercycloid.com/">cybercycloid</a> </p>
                        </div>
                    </div>
                </div>

                <!-- move top -->
                <button onclick="topFunction()" id="movetop" title="Go to top">
                    <span class="fa fa-angle-up"></span>
                </button>
                <script>
                    $(".carousel").owlCarousel({
                        margin: 20,
                        loop: true,
                        autoplay: true,
                        autoplayTimeout: 2000,
                        autoplayHoverPause: true,
                        responsive: {
                            0: {
                                items: 1,
                                nav: false
                            },
                            600: {
                                items: 2,
                                nav: false
                            },
                            1000: {
                                items: 3,
                                nav: false
                            }
                        }
                    });
                </script>
                <script>
                    // When the user scrolls down 20px from the top of the document, show the button
                    window.onscroll = function () {
                        scrollFunction()
                    };

                    function scrollFunction() {
                        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                            document.getElementById("movetop").style.display = "block";
                        } else {
                            document.getElementById("movetop").style.display = "none";
                        }
                    }

                    // When the user clicks on the button, scroll to the top of the document
                    function topFunction() {
                        document.body.scrollTop = 0;
                        document.documentElement.scrollTop = 0;
                    }
                </script>
                <!-- /move top -->
            </section>
            <!-- //footer-29 block -->



        </body>

</html>
