[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.1"
gunicorn = "*"
whitenoise = "*"
asgiref = "*"
boto3 = "*"
botocore = "*"
django-filter = "*"
django-storages = "*"
docutils = "*"
jmespath = "*"
pillow = "*"
s3transfer = "*"
six = "*"
sqlparse = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
